/* Write your CSS here */
.appointment-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  border: 1px solid #b5b7c4;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 300px;
}
.title {
  color: #171f46;
  font-weight: 500;
  font-size: 18px;
}
.date {
  color: #b5b7c4;
  font-weight: 500;
  font-size: 18px;
}
.star-btn-container {
  margin-top: 20px;
  margin-bottom: 0;
  align-self: flex-start;
}
.star-btn {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  outline: none;
}
